header {
    inline-size: auto;
    font-style: italic;
    padding: 10px;
    background:black;
    color: whitesmoke;
    text-align: center;
}
section {
    padding: 0;
}
#Home1 {
    float: left;
    background:whitesmoke;
    width: 25%;
    text-align: center;
}
#OurWork1 {
    float: left;
    background: whitesmoke;
    width: 25%;
    text-align: center;
}
#BookaClass1 {
    float: left;
    background: whitesmoke;
    width: 25%;
    text-align: center;
}
#Products1 {
    float: left;
    background: whitesmoke;
    width: 25%;
    text-align: center;
}
p {
    font-size: x-large;
    font-style: oblique;
    inline-size: auto;
    padding: 10px;
}
#pic1 {
    padding: 10px;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-shadow: 5px 5px 10px #000000;
}
#bronte {
    font-size: x-large;
    color:whitesmoke;
    text-shadow: 5px 5px 10px whitesmoke;
    inline-size: auto;
    background:black;
    font-style: italic;
    padding: 10px;
}
footer {
    font-size: x-large;
    font-style: oblique;
    text-shadow: 5px 5px 10px purple;
    inline-size: auto;
    background:black;
    color: purple;
    text-align: center;
}

